{% extends "base.html" %} {% block title %}My Music Box - Home{% endblock %} {%
block content %}
<div class="jumbotron mt-5">
    <h1 class="display-4 text-center">Welcome to My Music Box</h1>
    <p class="lead text-center">
        This site is only for learning purposes. All contents are from Online
        free resources.
    </p>
    <hr class="my-4" />
    <div class="mx-auto" style="width: 400px">
        <p>
            <i class="fas fa-search"></i> search songs/music videos and check
            details
        </p>
        <p><i class="far fa-eye"></i> provide 30 seconds preview</p>
        <p><i class="fas fa-heart"></i> create your favorite list</p>
        <p>
            <i class="fas fa-chart-pie"></i> show music preference based on
            favorite list
        </p>
    </div>
</div>
{% endblock %}
