{% extends "base.html" %} {% block title %}My Music Box - Search{% endblock %}
{% block content %}
<h1 class="text-center mb-5 mt-4">Find My Favorites!</h1>
<form method="POST" class="mb-5 col-sm-10 mx-auto" id="search-form">
    <div class="form-group row justify-content-around">
        <div class="col-10">
            <input
                type="search"
                class="form-control"
                id="search"
                name="search"
                placeholder="Artist, Song or Album"
                required
            />
        </div>
        <div class="col-10 col-lg-2 mt-3 mt-lg-0 text-center">
            <button type="submit" class="btn btn-success btn-block">
                Search
            </button>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <div class="col-sm-12 row d-flex justify-content-center">
                <div class="form-check ml-3 pt-2 mb-2">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="attr"
                        id="radio-music"
                        value="song"
                        checked
                    />
                    <label class="form-check-label mr-4" for="radio-music">
                        Music Track
                    </label>
                </div>
                <div class="form-check pt-2 mr-3">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="attr"
                        id="radio-video"
                        value="musicVideo"
                    />
                    <label class="form-check-label" for="radio-video">
                        Music Video
                    </label>
                </div>
                <div class="form-check ml-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="country"
                                >Country</label
                            >
                        </div>
                        <select class="custom-select" id="country">
                            <option value="US" selected>USA</option>
                            <option value="GB">UK</option>
                            <option value="CN">China</option>
                            <option value="JP">Japan</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div
    id="results-container"
    class="container d-flex justify-content-center"
></div>

{% endblock %}
