{% extends "base.html" %} {% block title %}My Music Box{% endblock %} {% block
content %}
<h1 class="text-center my-5">Signup and Enjoy the Music!</h1>
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden' %}
            <div class="text-danger">
                {% for error in field.errors %} {{ error }} {% endfor %}
            </div>
            {{ field(class="form-control mb-4", placeholder=field.label.text) }}
            {% endfor %}
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-lg mt-3">Sign me up!</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
